.AnsweredQst__{
    position: sticky;
    top:13rem;
}

.AQ__top{
    display:flex;
    background-color:#FBF4D0;
    justify-content:space-evenly;
    height:3rem;
    width:16rem;
    border-radius: 0.5rem;
    margin-top:1rem;
    align-items:center;
}

.AQ__bottom{
    min-height: 3rem;
    min-width: 16rem;
    max-height: 45vh;
    overflow-y: scroll;
    background-color:#FFFDF0;
    border-radius: 1rem;
    display:grid;
    grid-template-columns: repeat(5, 1fr);
    grid-row-gap: 1rem;
    place-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.AQ_number{
    height:1.75rem;
    width: 2.5rem;
    border:2px solid #003B73;
    background-color: #D9F7FD;
    border-radius:0.5rem;
    display:flex;
    align-items: center;
    justify-content: center;
    
}

.AQ_number__unmarked{
    height:1.75rem;
    width: 2.5rem;
    border:2px solid #003B73;
    background-color: rgb(58, 117, 58);
    border-radius:0.5rem;
    display:flex;
    align-items: center;
    justify-content: center;
}