.section {
  background: white;
  /* margin-left: 20rem; */
  display: grid;
  place-items: center;
  width: 100%;
  max-height: 70%;
}

.terms_header {
  font-size: 2rem;
  text-align: center;
  align-items: center;
}

.terms {
  background-color: #e8fceb;
  /* overflow: auto; */
  padding: 2rem 2rem 1rem;
  /* max-width: 1200px; */
  font-size: 1.3rem;
  line-height: 1.2;
}
.terms > h2 {
  font-size: 1.2rem;
  font-weight: bold;
  padding-left: 4rem;
  padding-right: 4rem;
}

.terms > p {
  margin: 1rem 0;
  font-size: 1.2rem;
  padding-left: 4rem;
  padding-right: 4rem;
}

.terms > ul {
  margin-left: 2rem;
  list-style: disc;
  font-size: 1.2rem;
  padding-left: 10rem;
  padding-right: 10rem;
}

.terms > ul > li {
  margin: 0.5rem 0;
  font-size: 1.2rem;
}

.terms_container {
  display: grid;
  width: 100%;
  margin: auto;
}
.btn_container {
  background: #bbebc2;
  box-shadow: 0px -2px 5px grey;
  position: relative;
  margin-top: 0.3rem;
  padding: 1rem 1.5rem;
  z-index: 1;
  display: grid;
  place-items: center;
}

.btn_accept {
  all: unset;
  width: 40%;
  display: inline-block;
  text-align: center;
  background-color: #397a9d;
  padding: 1rem 1.5rem;
  transition: all 0.25s ease-in;
  opacity: 1;
  cursor: pointer;
  border-radius: 5px;
}

.btn_reject {
  all: unset;
  width: 40%;
  display: inline-block;
  text-align: center;
  background-color: #397a9d;
  padding: 1rem 1.5rem;
  transition: all 0.25s ease-in;
  opacity: 0.6;
  border-radius: 5px;
}

.btn_accept:hover {
  width: 42%;
  height: 50%;
}

button:disabled {
  opacity: 0.5;
}